---
const currentYear = new Date().getFullYear();
---

<footer class="w-full py-8 mt-auto border-t border-surface/30 bg-surface/5 z-10">
  <div class="container mx-auto px-4">
      <div class="text-sm text-foreground/50 text-center font-sans">
        © {currentYear} Amaro Netto Soluções. <br class="md:hidden" /> Todos os direitos reservados.
      </div>
  </div>
</footer>